<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ .Description }}" />
    <meta name="author" content="Taylor J Walker" />
    <title>Pub Sub of the Week</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="./assets/css/reset.css" rel="stylesheet" />
    <link href="./assets/css/styles.css" rel="stylesheet" />
  </head>
  {{ $subJ := getJSON "https://pubsub.club/api" }}
  <body class="center-xy">
    <main>
      <h1 class="title">Pub Sub of the Week</h1>
      <section class="info">
        <p class="name">{{ $subJ.name }}</p>
        <p class="price">${{ $subJ.price }}</p>
      </section>
    </main>
  </body>
</html>
